doctype 5
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    script(type='text/javascript', src='jam/require.js')
    script(type='text/javascript')
        require(["pubcrawl/frontend"], function(frontend) {
            frontend.init();
        });
  body
    block content
    script(type='text/javascript', src='/js/bootstrap.min.js')
